* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #466ff4;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Navbar */

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    position: sticky;
    top: 0;
}

.navbar ul {
display: flex;
list-style: none;
margin: 20px 0px;
}

.navbar ul li {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    padding: 8px 25px;
}

.navbar ul li a:hover {
    background-color: #466ff4;
    color: black;
    box-shadow: 0 0 10px #466ff4;
}

/* home section */

#home {
    display: flex;
    flex-direction: column;
}

#home::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background: url();
}

/* About me section*/



#About-Me {
    display: flex;
    flex-direction: column;
}

#pic img {
    width: 375px;
    height: auto;
}

.about-img {
    
    display: flex;
}

.section-title {
    font-weight: bold;
}




