* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Navbar */

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    position: sticky;
    top: 0;
}

.navbar ul {
display: flex;
list-style: none;
margin: 20px 0px;
}

.navbar ul li {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    padding: 8px 25px;
}

.navbar ul li a:hover {
    background-color: #466ff4;
    color: black;
    box-shadow: 0 0 10px #466ff4;
}

/* about me */

.am-column {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    margin-bottom: 16px;
    padding: 0 8px;
}

.am-card {
    box-shadow: 0 4px 8px p rgba(0, 0, 0, 0.2);
    margin: 8px;
}

.about-me {
    padding: 50px;
    text-align: center;
    background-color: #466ff4;
    color: black;
}

.am-container {
    padding: 0 16px;
}

.am-button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #466ff4;
    text-align: center;
    cursor: pointer;
    width: 100%;